.imagemProdutos {
    width: 20vw;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.boxProdutos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 22vw;
    margin-bottom: 2vw;
    border: 1px solid rgba(0, 0, 0, 0.142);
    padding: 1vw;
    padding-bottom: 2vw;
    border-radius: 5px;
}

.cidades {
    color: rgba(0, 0, 0, 0.536);
}

.buttonProdutos {
    text-decoration: none;
    background-color: rgb(49, 140, 49);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}